<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>About Us</title>
<link rel="stylesheet"  href="" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="header1.html"></div>
<div class="about-section">
    <div class="container">
      <h2>Hello!!We are Agro-Bidders</h2>
      <div class="content">
        <img src="" th:src="@{/images/agrobotics.png}" alt="Profile Picture">
        <p><b>It Started With A Question.</b></p>
<p>Can we make quality smarter?</p>
<p><i>The answer was yes. So, AgroBidding idea was born to make it a reality.</i></p>
<p>  We tap the power of technology  and computer vision to solve one of the biggest problems our 
world faces – cutting down food loss. 

We do so by digitizing the quality assessment of fresh fruits and vegetables. 
Our technology transforms quality processes, making them objective, efficient, and
less wasteful.

From growers to packers, from exporters to food services, anyone can use our smart, 
scalable solutions to digitize food quality, achieve fair pricing and reduce food food wastage. 
AgroBidding idea gives you the edge you need to make a food
business thrive.

</p>
      </div>
    </div>
  </div>

<div class="footer">
      <p>&copy; 2023 Agrobidding Dashboard. All rights reserved.</p>

</body>
</html>