<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bidding</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/details.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../Bidding/bidding.css">
  
</head>
<body>
  <!-- Navigation part -->
  <div class="header">
    <div class="container flex">
      <div class="logo">
    <img src="../img/logo.png"/>
      </div>
<div class="nav">
  <ul>
    <li><a href="../index/index.html">Home</a></li>
    <li><a href="../index/About.html">About Us</a></li>
    <li><a href="../index/Contact.html">Contact</a></li>
    <li><a href="product.html">Products</a></li>
  </ul>
</div>
<div><button id="login" class="btn">Login</button></div>
<div id="sub-item" class="sub-menu">
       <ul>
            <li><a href="#">Admin</a></li>
            <li><a href="Farmer/login.html">Farmer</a></li>
            <li><a href="#">Retailer</a></li>
       </ul>
  </div>



</div>
</div>
<!-- Navigation Ends -->
<div class="container">
<div class="grid-item">
  <div class="card">
      <img src="../img/1.jpg" alt="Image">
      <div class="card-content">
        <h4>AgroName</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum, incidunt.</p>
        <p>Price:$50</p>
        <p>Rating:******</p>

        
      </div>
    </div>
</div>
</div>

<div class="container">
<div class="comment-container">
  <div class="user-avatar"></div>
  <div class="comment-content">
      <div class="user-name">Suman</div>
      <div class="comment-text">RS 500</div>
  </div>
  <div class="user-avatar"></div>
  <div class="comment-content">
      <div class="user-name">Suman</div>
      <div class="comment-text">Rs 600</div>
  </div>
</div>

<!-- Comment Input Form -->
<textarea class="comment-input" placeholder="Enter Bid Price.."></textarea>
<button class="post-button">Bid</button>
</div>



<div class="footer ">
<div class="container">
  <p id="copyright">
    &copy; <span id="currentYear"></span> Agro-Bidding. All rights reserved.
  </p>
</div>
</div>

<script src="logic.js"></script>

</body>
</html>
