<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"  href="" th:href="@{/css/style.css}">

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
  
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

</head>
<body>


 <nav>
    <ul>
       <li><a href="/form">Form</a></li>
       <li><a href="/list">List</a></li>
       <li><a href="/list">logout</a></li>
   
    </ul>
  </nav>
  
  
  

</body>
</html>